body { background-color: #21131a;}

#grid {
  margin: 24px auto;
  width: 1200px;
  display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr 4fr 1fr;
    grid-template-rows: 80px 70px 70px 140px 100px 40px 160px 50px;
  background-image: url(BlueBackground.jpeg);
  background-size: cover;}

header {
  padding-left: 20px;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  font-family: 'Sacramento', cursive;
  font-size: large;
  font-style: italic;
  color: purple;
  background-color: #e889b8}

nav {
  grid-column: 4 / 7;
  grid-row: 1 / 2;
  background-color: #e889b8;
  padding-top: 12px;}
nav li {display: inline-block;}
nav li a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: larger;
  color: purple;
  text-decoration: none;
  padding: 20px;}
nav li a:hover {
  color: mediumvioletred;
  background-color: white;
  opacity: .7;
  transition: background-color 0.3s;}

.box {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
  padding: 10px;
  color: purple;
  background-color: white;
  opacity: .7;
  border-radius: 8px;}
  main h2 {font-family: Georgia, 'Times New Roman', Times, serif;}
  main p {font-family: Verdana, Geneva, Tahoma, sans-serif;}
  
.Painting {
  grid-column: 5 / 6;
  grid-row: 4 / 7;
  background: url(Desaturated\ Freyel\ Pixel.png);
  background-size: cover;
  border: 3px solid white;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;}
  .Painting h2 {
    font-size: xx-large;
    text-shadow: 2px 2px 2px purple;
    color: hotpink;
    grid-column: 5 / 6;
    grid-row: 4 / 7;
    float: right;}
  .Painting h3 {
    font-size: xx-large;
    text-shadow: 2px 2px 2px purple;
    color: pink;
    grid-column: 5 / 6;
    grid-row: 6 / 7;
    padding-top: 200px;
    padding-left: 10px;}  

.Redbird {  
  grid-column: 2 / 3;
  grid-row: 6 / 8;}
  
  .Redbird video {border: 3px solid white;
  margin-left: 100px;}
